.header{
    height: 120px;
    background-image: linear-gradient(0, #fe6433, #f53e2d);
}
.header__navbar{
    display: flex;
    justify-content: space-between;
}
.header__navbar-list{
    list-style: none;
    padding-left: 0;
    margin-top: 5px;
    margin-bottom: 0;
    display: flex;
}
.header__navbar-item{
    margin:0 8px ;
    position: relative;
    min-height: 26px;
}
.header__navbar-user{
    display: flex;
    justify-items: center;
    position: relative;
}
.header__navbar-user:hover .header__navbar-user-menu{
    display: block;
}
.header__navbar-user-menu{
    position: absolute;
    padding: 0;
    top: calc(100% + 6px);
    right: 0;
    background-color: var(--white-color);
    border-radius: 2px;
    width: 160px;
    list-style: none;
    z-index: 1;
    box-shadow: 1px 1px 4px rgba(0 , 0 , 0, 0.2);
    display: none;
    z-index: 2;
}
.header__navbar-user-menu::before{
    content: "";
    display: block;
    position: absolute;
    border-width: 20px 27px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    right: 4px;
    top: -29px;
}
.header__navbar-user-menu::after{
    content: "";
    display: block;
    position: absolute;
    top: -6px;
    right: 0;
    width: 70%;
    height: 8px;
    
}
.header__navbar-user-item--separate{ 
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}
.header__navbar-user-item a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    display: block;
    padding: 8px 16px;
}
.header__navbar-user-item a:hover{
    background-color: #fafafa;
}
.header__navbar-user-item a:first-child{
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.header__navbar-user-item a:last-child{
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}
.header__navbar-user-avatar{
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.2);
}
.header__navbar-user-name{
    margin-left: 4px;
    font-size: 1.4rem;
    font-weight: 400;
}
.header__navbar-item,
.header__navbar-item-link{
    display:inline-block;
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}
.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link{
    display:inline-flex;
    align-items: center;
}
.header__navbar-item--strong{
    font-weight: 400;
}
.header__navbar-item--separate::after{
    content:"";
    display: block;
    position: absolute;
    border-left: 1px solid #fb9086;
    height: 16px;
    right: -10px;
    top: 50%;
    transform: translateY(-50%);
}
.header__navbar-item:hover,
.header__navbar-item-link:hover,
.header__navbar-icon-link:hover{
    color: rgba(255, 255, 2555, 0.7);
    cursor: pointer;
}
.header__navbar-icon-link{
    color: var(--white-color);
    text-decoration: none;
}
.header__navbar-icon-link:nth-child(2){
    margin-left: 3px;
}
.header__navbar-icon{
    font-size: 1.8rem;
    margin: 0 4px;
}
.header__navbar-title--no-pointer{
    cursor: text;
    color: var(--white-color);
}

/* Header QR code */
.header__qr{
    width: 186px;
    background-color: var(--white-color);
    position: absolute;
    left: 0;
    top: 120%;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.3s;
    z-index: 1;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}
.header__qr::before{
    content:"";
    display: block;
    position: absolute;
    width: 100%;
    height: 20px;
    left: 0;
    top: -16px;
}
.header__qr-img{
    width: 100%;
}
.header__qr-apps{
    display:flex;
    justify-content:space-between ;
}

.header__qr-dowload-img{
    height: 16px;
    
}
.header__navbar-item--qr:hover .header__qr{
    display:block;
}
.header__navbar-notify:hover .header__notify{
    display: block;
}

/* Notify */
.header__notify{
    position: absolute;
    top: calc(100% + 6px);
    right: 0;
    width: 404px;
    background-color: var(--white-color);
    border: 1px solid #D3D3D3;
    animation: headerNotiGrow ease-in 0.25s;
    will-change: opacity, transform;
    transform-origin: calc(100% - 32px) top;
    display: none;
    z-index: 1;
    border-radius: 2px;
}

.header__notify::before{
    content:"";
    border-width: 10px 20px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 8px;
    top: -20px;
}
.header__notify::after{
    content: "";
    display: block;
    position: absolute;
    width: 90px;
    height: 20px;
    right: 0;
    top: -16px;
}
@keyframes headerNotiGrow{
    from{
        transform: scale(0);
    }to{
        transform: scale(1);
    }
}
.header__notify-header{
    height: 40px;
    background-color: var(--white-color);
    cursor: default;
    user-select: none;
}
.header__notify-header h3{
    color: #999;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
}
.header__notify-list{
    padding-left: 0;
    padding-top: 0.1px;
}
.header__notify-item{
    list-style: none;
}
.header__notify-item--viewed{
    background-color: rgba(238, 75, 43, 0.3);
}
.header__notify-item:hover{
    background-color: #999;
}
.header__notify-link{
    display: flex;
    text-decoration: none;
    
}
.header__notify-img{
    width: 48px;
    object-fit: contain;
}
.header__notify-info{
    color: var(--text-color);
    line-height: 1.5rem;
    margin-left: 12px;
}
.header__notify-name{
    display: block;
    font-size: 1.6rem;
    font-weight: 400;
    margin: 5px 0;
}
.header__notify-desc{
    display: block;
    font-size: 1.4rem;
    color: #756F6E;
    margin: 5px 0;

}
.header__notify-footer{
    text-align: center;
    padding: 12px 24px;
    background-color: #D3D3D3;
}
.header__notify-footer-btn{
    text-decoration: none;
    color: var(--text-color);
}

/* Modal */
.modal{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
    display: none;
}
.modal.open{
    display: flex;
}
.modal__ctn{
    max-width: 500px;
    width: 500px;
    background-color: #fff;
    border-radius: 4px;
    animation: growth linear 0.1s;
}
@keyframes growth{
    from{
        transform: scale(70%);
    }to{
        transform: scaleX(1);
    }
}
.modal__ctn-header{
    display: flex;
    justify-content: space-between;
    padding: 32px;
    padding-bottom: 28px;
}
.modal__ctn-header-heading{
    margin: 0;
    font-size: 2rem;
}
.modal__ctn-header-switch{
    margin: 0;
    font-size: 1.5rem;
    color: #f05123;
}
.modal__ctn-body{
    display:flex;
    flex-direction: column;
    padding: 16px 24px;
}
.modal__ctn-body-user,
.modal__ctn-body-capcha,
.modal__ctn-body-verify{
    padding-bottom: 12px;
}
.modal__ctn-body-user input,
.modal__ctn-body-capcha input,
.modal__ctn-body-verify input{
    padding: 8px;
    width: 100%;
    border: 1px solid #ccc;
    font-size: 1.3rem;
}
.modal__ctn-body-capcha{
    display: flex;
}
.modal__ctn-body-capcha i{
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-left: none;
    font-size: 1.5rem;
    font-style: normal;
    cursor:default;
}
.modal__ctn-body-verify{
    display: flex;
}
.modal__ctn-body-verify i{
    padding: 8px;
    border: 1px solid #ccc;
    border-left: none;
    font-size: 1.3rem;
    font-style: normal;
    flex-shrink: 0;
    cursor: pointer;
}
.modal__ctn-body-service{
    padding: 4px 12px;
    text-align: justify;
    text-align: center;
    font-size: 1.2rem;
}
.modal__ctn-body-service a{
    text-decoration: none;
    color: #f05123;
}
.modal__ctn-footer{
    padding: 24px 24px;
    display: flex;
    justify-content: flex-end;
}
.modal__ctn-footer-goback,
.modal__ctn-footer-done{
    padding: 10px 30px;
    font-size: 1.5rem;
    text-transform: uppercase;
    cursor: pointer;
}
.modal__ctn-footer-goback{
    border: none;
    background-color: #fff;
}
.modal__ctn-footer-done{
    border: none;
    border-radius: 3px;
    background-color: #e9592f;
    color: var(--white-color);
}
.modal__ctn-contact{
    background-color: #ddd;
    display: flex;
    justify-content: space-between;
    padding: 0 32px;

}
.modal__ctn-contact-fb{
    background-color: #2d2dc3;
    text-align: center;
    padding: 6px;
    font-size: 1.2rem;
    color: #fff;
    border-radius: 4px;
    
}
.modal__ctn-contact-gg{
    background-color: #fff;
    padding: 6px;
    font-size: 1.2rem;
    color: #333;
    border-radius: 4px;
    
}
.modal__ctn-contact-fb i,
.modal__ctn-contact-gg i{
    font-size: 1.8rem;
    position: relative;
    top: 2px;
    padding-right: 32px;
}
.modal__ctn-contact-fb span,
.modal__ctn-contact-gg span{
    padding-right: 32px;
}

/* MOdal dang nhap */
.modal__login{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
    display: none;
}
.modal__login.open{
    display: flex;
}
.modal__login-ctn{
    max-width: 500px;
    width: 500px;
    background-color: #fff;
    border-radius: 4px;
    animation: growth linear 0.1s;
}
.modal__login-ctn-header{
    display: flex;
    justify-content: space-between;
    padding: 32px;
    padding-bottom: 28px;
}
.modal__login-ctn-header-heading{
    margin: 0;
    font-size: 2rem;
}
.modal__login-ctn-header-switch{
    margin: 0;
    font-size: 1.5rem;
    color: #f05123;
}
.modal__login-ctn-body{
    display:flex;
    flex-direction: column;
    padding: 16px 24px;
}
.modal__login-ctn-body-user,
.modal__login-ctn-body-capcha,
.modal__login-ctn-body-verify{
    padding-bottom: 12px;
}
.modal__login-ctn-body-user input,
.modal__login-ctn-body-capcha input,
.modal__login-ctn-body-verify input{
    padding: 8px;
    width: 100%;
    border: 1px solid #ccc;
    font-size: 1.3rem;
}
.modal__login-ctn-body-capcha{
    display: flex;
}
.modal__login-ctn-body-capcha i{
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-left: none;
    font-size: 1.5rem;
    font-style: normal;
    cursor:default;
}
.modal__login-ctn-body-verify{
    display: flex;
}
.modal__login-ctn-body-verify i{
    padding: 8px;
    border: 1px solid #ccc;
    border-left: none;
    font-size: 1.3rem;
    font-style: normal;
    flex-shrink: 0;
    cursor: pointer;
}
.modal__login-ctn-body-service{
    padding: 4px 12px;
    text-align: justify;
    text-align: center;
    font-size: 1.2rem;
}
.modal__login-ctn-body-service a{
    text-decoration: none;
    color: #f05123;
}
.modal__login-ctn-footer{
    padding: 24px 24px;
    display: flex;
    justify-content: flex-end;
}
.modal__login-ctn-footer-goback,
.modal__login-ctn-footer-done{
    padding: 10px 30px;
    font-size: 1.5rem;
    text-transform: uppercase;
    cursor: pointer;
}
.modal__login-ctn-footer-goback{
    border: none;
    background-color: #fff;
}
.modal__login-ctn-footer-done{
    border: none;
    border-radius: 3px;
    background-color: #e9592f;
    color: var(--white-color);
}
.modal__login-ctn-contact{
    background-color: #ddd;
    display: flex;
    justify-content: space-between;
    padding: 0 32px;

}
.modal__login-ctn-contact-fb{
    background-color: #2d2dc3;
    text-align: center;
    padding: 6px;
    font-size: 1.2rem;
    color: #fff;
    border-radius: 4px;
    
}
.modal__login-ctn-contact-gg{
    background-color: #fff;
    padding: 6px;
    font-size: 1.2rem;
    color: #333;
    border-radius: 4px;
    
}
.modal__login-ctn-contact-fb i,
.modal__login-ctn-contact-gg i{
    font-size: 1.8rem;
    position: relative;
    top: 2px;
    padding-right: 32px;
}
.modal__login-ctn-contact-fb span,
.modal__login-ctn-contact-gg span{
    padding-right: 32px;
}
.js-modal-login,
.js-modal-regis{
    cursor: pointer;
}
.header-with-search{
    height: var(--header-with-search-height);
    display: flex;
    align-items:center ;
    margin: 0 8px;
}
.header__logo{
    width: 200px;
}

.header__logo-link{
    text-decoration: none;
    color:transparent;
}
.header__logo-img{
    width: 150px;
    color: var
}
.header__search{
    height: 40px;
    background-color: var(--white-color);
    flex: 1;
    border-radius: 2px;
    display: flex;
    align-items: center;

}
.header__search-input-wrap{
    flex: 1;
    height: 100%;
    position:relative ;
}
.header__search-input:focus ~ .header__search-history{
    display: block;
}
/* search history */
.header__search-history{
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    width: calc(100% - 16px);
    background-color: var(--white-color);
    border-radius: 3px;
    box-shadow: 0 2px 5px #999;
    display: none;
    z-index: 1;
}
.header__search-history-heading{
    margin: 8px 12px;
    font-size: 1.4rem;
    color: #888;
    font-weight: 400;
}
.header__search-history-list{
    padding-left: 0;
    margin: 0;
    
}
.header__search-history-item{
    list-style: none;
    height: 38px;
    padding: 0 12px;
}
.header__search-history-item:last-child{
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px; 
}
.header__search-history-item:hover{
    background-color: #999;
}
.header__search-history a{
    text-decoration: none;
    line-height: 38px;
    font-size: 1.4rem;
    color: var(--text-color);
    display: block;
}
.header__search-input{
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
        font-size: 1.5rem;
        color: var(--text-color);
        padding: 0 16px;
        border-radius: 2px ;
}
.header__cart{
    width: 150px;
    text-align: center;
    z-index: 1;
}
.header__cart-wrap{
    position: relative;
    display: inline-block;
    padding: 4px 8px;
    cursor: pointer;
}
.header__cart-notice{
    position: absolute;
    padding: 1px 6px;
    background-color: var(--white-color);
    color:#e9592f;
    font-size: 1.4rem;
    line-height: 1.4rem;
    border-radius: 10px;
    border: 2px solid #ee4d2d;
    top: -1px;
    right: -4px;
}
.header__cart-icon{
    color: var(--white-color);
    font-size: 2.4rem;
    margin-top: 6px;
}
.header__cart-wrap:hover .header__cart-list{
    display: block;
}
.header__cart-list{
    position: absolute;
    top: calc(100% + 2px);
    right: -3px;
    background-color: #fdfdfd;
    width: 400px;
    border-radius: 2px;
    box-shadow: 1px 4px 8px #ccc;
    animation: fadeIn ease-in 0.2s;
    cursor: default;
    display: none;
}
.header__cart-list::after{
    content: "";
    position: absolute;
    right:3px;
    top: -20px;
    border-width: 10px 20px;
    border-style: solid ;
    border-color: transparent transparent var(--white-color) transparent;
    cursor: pointer;   
}
.header__cart-list--no-cart{
    padding: 38px 0;

}
.header__cart-list--no-cart .header__cart-no-cart-img,
.header__cart-list--no-cart .header__cart-no-cart-msg{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.header__cart-no-cart-img{
    width: 60%;
    display: none;
}

.header__cart-no-cart-msg{
    font-size: 1.5rem;
    margin:15px 0;
    color:var(--text-color);
    display: none;
}

/* has cart */
.header__cart-heading{
    text-align: left;
    margin: 8px 0px 8px 12px;
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
}
.header__cart-list-item{
    padding-left: 0;
    list-style: none;
    max-height: 50vh;
    overflow-y: auto;
}
.header__cart-item{
    display: flex;
    padding: 12px 0;
}
.header__cart-item:hover{
    background-color: #f8f8f8;
    color: #000;
}
.header__cart-img{
    width: 42px;
    height: 42px;
    margin: 0 12px;
    border: 1px solid #ccc;
}
.header__cart-item-info{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.header__cart-item-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 12px;
}
.header__cart-item-name{
    font-size: 1.4rem;
    font-weight: 400;
    margin: 0;
    display: block;
    max-width: 200px;
    line-height: 1.6rem;
    height: 1.6rem;
    overflow: hidden;
    text-align: left;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.header__cart-item-price{
    font-size: 1.4rem;
    font-weight: 400;
    color: #e9592f;
}
.header__cart-item-multiply{
    color: #757575;
    font-size: 1rem;
    margin: 0 4px;
}
.header__cart-item-quantity{
    font-size: 1.2rem;
}
.header__cart-item-body{
    display: flex;
    justify-content: space-between;
    margin-right: 12px;
}
.header__cart-item-desc{
    color: #757575;
    font-size: 1.3rem;
}
.header__cart-item-remove{
    font-size: 1.4rem;
    color: var(--text-color);
    cursor: pointer;
}
.header__cart-item-remove:hover{
    color:#e9592f;
}
.header__cart-btn{
    padding: 12px 24px;
    font-size: 1.4rem;
    border: none;
    border-radius: 2px;
    background-color:#e9592f;
    color: var(--white-color);
    float:right;
    cursor: pointer;
    margin: 0 12px 10px 0;
}
.header__cart-btn:hover{
    opacity: 0.9;
}
/* header search */
.header__search-select{
    border-left: 1px solid #ccc;
    padding-left: 16px; 
    cursor: pointer;
    position: relative;
    
}
.header__search-select:hover .header__search-option{
    display: block;
}
.header__search-option{
    position: absolute;
    right: 0;
    top: calc(100% + 3px);
    width: 134px;
    box-shadow: 0 1px 1px #ccc;
    padding-left: 0;
    display: none;
    z-index: 1;
}
.header__search-option-item{
    list-style: none;
    background-color: var(--white-color);
    border-radius: 3px;
    padding: 6px;
    
}
.header__search-option-item:hover{
    background-color: #ccc;
}
.header__search-option-item span{
    font-size: 1.4rem;
    color: var(--text-color);
    display:block;
    padding: 4px;
}
.header__search-option-item i{
    font-size: 1.3rem;
    color:#e9592f;
    margin: 0 12px;
    display: none;
}
.header__search-option-item--active i{
    display: inline-block;
}
.header__search-select-label{
    font-size: 1.4rem;
    color: var(--text-color-);
    padding: 16px 0 ;
}
.header__search-select-icon{
    font-size: 1.4rem;
    color: #333;
    margin: 0 16px 0 8px;
    
}
.header__search-btn{
    background-color: #e9592f;
    border:none;
    height: 36px;
    width: 60px;
    border-radius: 3px;
    margin-right: 3px;
    outline: none;
}
.header__search-btn:hover{
    background-color: #eb6c48;
    cursor: pointer;
}
.header__search-btn-icon{
    font-size: 1.4rem;
    color: var(--white-color);
    
}

/* Container */
.container{
    background-color: #f5f5f5;
    padding-top: 32px;
}
/* Category */
.category{
    padding: 0 8px;
    background-color: var(--white-color);
    border-radius: 2px;
}
.category__heading{
    min-height: 50px;
    margin: 0;
    font-size: 1.8rem;
    padding: 16px 0;
    border-bottom: 1px solid #e9e9e9;
}
.category__heading i{
    font-size: 1.4rem;
    margin-right: 8px;
    position: relative;
    top: -1px;
}
.category-list{
    padding:0;
    list-style: none;
    margin: 0 0 0 16px;
}
.category-classify{
    font-size: 1.5rem;
    color:var(--primary-color);
    position: relative;
    margin: 0;
    padding: 12px 0;
    cursor: pointer;
}
.category-classify::before{
    content: "";
    display: block;
    border-width: 4px ;
    border-style: solid;
    border-color: transparent transparent transparent var(--primary-color);
    position: absolute;
    top: 50%;
    left: -16px;
    transform: translateY(-50%);
}
.category-item{
    padding: 4px 0;
    
}
.category-item__link{
    text-decoration: none;
    font-size: 1.4rem;
    color:var(--text-color);
    position: relative;
    right: 0;
    transition: right linear 0.1s;
}
.category-item__link:hover{
    right: -4px;
    color: var(--primary-color);
}

/* Home sort + filter */
.home-filter{
    display: flex;
    align-items: center;
    background-color: #ededed;
    min-height: 50px;
    padding-left: 16px;
    border-radius: 2px;
    
}
.home-filter__label{
    font-size: 1.4rem;
    color: var(--text-color);
    margin-right: 5px;
}
.home-filter__option{
    border: none;
    padding:8px 16px;
    font-size: 1.4rem;
    background-color: var(--white-color);
    margin: 0 5px;
    border-radius: 2px;
    color: var(--text-color);
    cursor: pointer;
}
.home-filter__option:first-child{
    background-color: var(--primary-color);
    color: var(--white-color);
}
.home-filter__select-input{
    min-width: 180px;
    font-size: 1.4rem;
    padding: 8px 16px;
    margin-left: 8px;
    background-color: var(--white-color);
    color: var(--text-color);
    border-radius: 2px;
    position: relative;
}
.home-filter__select-input:hover .home-filter__select-input-list{
    display: block;
}
.home-filter__select-input::after{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    top: 100%;
    left: 0;
}
.home-filter__select-input-icon{
    float: right;
}
.home-filter__select-input-list{
    margin: 0;
    padding: 8px 0;
    position: absolute;
    left: 0;
    top: calc(100% + 1px);
    list-style: none;
    width: 100%;
    background-color: var(--white-color);
    border-radius: 2px;
    display: none;
    z-index: 1;
    box-shadow: 1px 2px 6px #999;
}
.home-filter__select-input-item{
    padding: 8px 16px;
    cursor: pointer;
}
.home-filter__select-input-item:hover{
    color: var(--primary-color);

}

.home-filter__page{
    display: flex;
    margin-left: auto;
    align-items: center;
}
.home-filter__page-num{
    font-size: 1.4rem;
    margin-right: 24px;
}
.home-filter__page-current{
    color: var(--primary-color);
    font-size: 1.3rem;
}
.home-filter__page-control{
    background-color: var(--white-color);
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    width: 60px;
    height: 28px;
    margin-right: 16px;
}
.home-filter__page-btn{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.home-filter__page-btn:first-child{
    border-right: 1px solid #d9d9d9 ;
}
.home-filter__page-btn--disable{
    color: #d3d3d3;
    background-color: #f9f9f9;
}

/* Product item */
.home-product{
    margin-bottom: 10px;
}
.home-product-item{
    display: block;
    text-decoration: none;
    background-color: var(--white-color);
    margin-top: 10px;
    position: relative;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    transition: transform linear 0.1s;
}
.home-product-item:hover{
    transform: translateY(-2px);
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.05);
}
.home-product-item__img{
    padding-top: 100%;
    background-size:contain ;
}
.home-product-item__name{
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.8rem;
    margin: 10px 10px 6px 10px;
    height: 3.6rem;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
}
.home-product-item__price{
    display: flex;
    
    align-items: baseline;
    flex-wrap: wrap;
}
.home-product-item__price-old{
    font-size: 1.3rem;
    color: #666;
    text-decoration: line-through;
    margin-left: 10px;
}
.home-product-item__price-new{
    font-size: 1.5rem;
    color: var(--primary-color);
    margin-left: 10px;
}
.home-product-item__action{
    display: flex;
    justify-content: space-between;
    margin: 6px 10px 0 ;
}
.home-product-item__like{
    font-size: 1.3rem;
}
i.home-product-item__like-fill{
    display: none;
    color: var(--primary-color);
}
.home-product-item__like--liked .home-product-item__like-fill{
    display: inline-block;
}
.home-product-item__like--liked .home-product-item__like-icon-empty{
    display: none;
}
.home-product-item__rating{
    font-size: 1rem;
    color: #d5d5d5;
    margin-left: auto;
}
.home-product-item__star--gold{
    color: #ffce3e;
}
.home-product-item__sold{
    font-size: 1.2rem;
    color: var(--text-color);
    margin-left: 4px;
}
.home-product-item__origin{
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
    font-size: 1.2rem;
    font-weight: 400;
    color: #595959;
    margin-top: 6px;
} 
.home-product-item__favourite{
    position: absolute;
    top: 10px;
    left: -4px;
    background-color: var(--primary-color);
    color: var(--white-color);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.6rem;
    padding-right: 4px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.home-product-item__favourite::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    border-top: 3px solid var(--primary-color);
    border-left: 3px solid transparent;
    filter:brightness(50%);
}
.home-product-item__favourite i{
    font-size: 0.9rem;
    margin: 0 2px 0 5px;
}
.home-product-item__sale-off{
    text-align: center;
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 36px;
    background-color: rgba(255, 216, 64, 0.94);
}
.home-product-item__sale-off::after{
    content:"";
    position: absolute;
    left: 0;
    bottom: -4px;
    border-width: 0 20px 4px;
    border-style: solid;
    border-color: transparent rgba(255, 216, 64, 0.94) transparent rgba(255, 216, 64, 0.94) ;
}
.home-product-item__sale-off-percent{
    color: #ee4d2d;
    font-weight: 600;
    font-size: 1.3rem;
    line-height: 1.3rem;
    position: relative;
    top: 2px;
}
.home-product-item__sale-off-label{
    font-size: 1.4rem;
    line-height: 1.4rem;
    color: var(--white-color);
    position: relative;
    top: 4px;   
}

.home-product__pagination{
    margin-top: 48px;
    margin-bottom: 32px;
}

/* Footer */
.footer{
    border-top: 4px solid var(--primary-color);
    padding-top: 16px;
}
.footer__heading{
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--text-color);
}
.footer-list{
    padding-left: 0;
    list-style: none;
}
.footer-item__link{
    text-decoration: none;
    font-size: 1.3rem;
    color: #737373;
    padding: 2px 0;
    display: block;
}
.footer-item__link:hover{
    color: var(--primary-color);
}
.footer__qr{
    display: flex;
}
.footer__qr-img{
    width: 80px;
    object-fit: contain;
    border: 1px solid #666;
}
.footer__qr-apps{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 12px;
}
.footer__qr-dowload-img{
    height: 20px;
}
.mb50{
    margin-bottom: 50px;
}
.footer__bq{
    text-align: center;
    display: block;
    padding: 24px 0;
    font-size: 1.2rem;
    background-color: #666;
    color: #fff;
    margin: 0;
}